.articles {
	&__empty {
		text-align: center;
		font-size: 20px;
		color: $white;
	}
}

.item-articles {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&:not(:last-child) {
		margin-bottom: 15px;	
		padding-bottom: 15px;
		border-bottom: 1px solid $gray;
	}
	&__title {
		color: $white;
		font-weight: 500;
		transition: 0.2s linear;
		@media (any-hover: hover){
			&:hover{
				color: $secondary;
				text-shadow: 0 0 5px $secondary, 0 0 10px $secondary;
			}
		}
	}
	&__date {
		color: $gray;
		font-size: 14px;
		margin-bottom: 5px;
	}
	&__button {
		color: $red;
		background-color: transparent;
		border: 1px solid #D2122E;
		border-radius: 8px;
		padding: 5px 10px;
		cursor: pointer;
		transition: 0.2s linear;
		@media (any-hover: hover){
			&:hover{
				box-shadow: 0 0 5px $red, 0 0 15px $red;
				background-color: $red;
				color: #fff;
			}
		}
	}
}